/* fonts 
font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', cursive;
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body { 
 background: #BFD7E4;
}

header { 
  background: #293241;
  text-align: center;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  color: #FFF;
  padding-top: 100px;
}

header p { 
  color: #FFF; 
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

header img {
  padding: 48px 0 30px 0;
}