 /* Setting Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}


:root {
  font-size: 62.5%; /* padrão 16px */
  /* background-color */
  --base-font: 'Mulish', sans-serif;

  /* color */
  --bg-default: #F9F4FB;
  --bg-white: #FFFFFF; 
  --fc-blue: #312D64;
  --fc-pink: #B52184;
  --bg-gradient: linear-gradient(134deg, #343193 0%, #302C63 100%);

  /* font-size */
  --fs-title: 3.2rem;
  --fs-span: 2.0rem;

  --fs-colums-title: 2.9rem;
  --fs-colums-text: 1.6rem;

  --fs-form-title: 3.2rem;
  --fs-form-text: 1.6rem;
  --fs-button-text: 1.4rem;

  --fs-footer-text: 1.9rem;
}

body { 
  font-family: var(--base-font);
}

img { 
  width: 100%;
  display: block;
}


h1 { 
  font-size: var(--fs-title);
  color: var(--fc-pink);
  font-weight: 900;
  margin: 1.7rem 0 0.5rem;
}

h2 { 
  font-size: var(--fs-form-title);
  color: var(--fc-pink);
  font-weight: 900;
}

h3 {
  font-size: var(--fs-colums-title);
  color: var(--fc-pink);
  font-weight: 900;
}

span { 
  font-size: var(--fs-span);
  color: var(--fc-blue);
}

p { 
  font-size: var(--fs-colums-text);
  color: var(--fc-blue);
  font-weight: 600;
}

/* Section Banner*/
#banner {
  padding: 0 3.4rem 9.3rem 3.2rem;
  background-color: var(--bg-default);
  width: 100%;
}

#banner .title {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#banner .title .button-down img{
  width: 5.8rem;
  margin: 3.5rem 18rem 0;
  transition: filter 300ms;
}

#banner .title .button-down img:hover{
  filter: brightness(0.1)
}


/* Section Cards */

#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5.2rem 9.2rem;
  background: var(--fc-blue);
}

#cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 29rem;
  gap: 3.3rem;
  padding: 2.6rem;
  border-radius: 1.9rem;
  margin-bottom: 5.0rem;
  background: var(--bg-white);
  
}

#cards .card img {
  width: 8.0rem;
  height: 8.0rem;
}

#cards .card .cards-text h3{
  margin-bottom: 2.0rem;
}


/* Section contact */

#contact {
  width: 100%;
  height: 100%;
  padding: 7.8rem 4.0rem 6.5rem;
  background: var(--bg-default);
}

#contact form h2 {
  margin-bottom: 4.3rem;
}

#contact fieldset {
  border: none;
}

#contact fieldset .input-wrapper{ 
  margin-bottom: 2.4rem;
}

#contact fieldset .input-wrapper input {
  padding: 1.2rem 5.0rem 1.4rem;
}

#contact form .input-wrapper textarea {
  padding: 1.2rem 1.6rem 1.4rem;
}

#contact fieldset .input-wrapper input,
#contact form .input-wrapper textarea { 
  width: 100%;
  border: 0.15rem solid var(--fc-blue);
  border-radius: 1.6rem;
  font-size: var(--fs-form-text);
  font-weight: 600;
  font-family: var(--base-font);
  background: var(--bg-default);
}

#contact fieldset .input-wrapper textarea {
  height: 12.6rem;
}


#contact #name {
  background: url(./images/person.svg) no-repeat scroll 1.4rem 1.2rem;
}

#contact #email {
  background: url(./images/at.svg) no-repeat scroll 1.4rem 1.2rem;
}

#contact form button {
  height: 4.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-form-text);
  font-weight: 700;
  font-family: var(--base-font);
  padding: 1.6rem;
  color: var(--bg-white);
  border-radius: 1.6rem;
  border: 0.15rem solid;
}

#contact button { 
  background: var(--bg-gradient);
  transition: filter 300ms;
}

#contact button:hover { 
  filter: brightness(1.5);
}

/* Footer */

footer { 
  height: 7.8rem;
  background: var(--bg-gradient);
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

}

footer p {
  color: var(--bg-white);
  font-size: var(--fs-footer-text)
}