* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

}

body {
  background: linear-gradient(315deg, #C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;

  display: grid;
  place-items: center;
  height: 100vh;
}

body, input, button {
  font-family: 'DM Sans', sans-serif;
}

button {
  background-color: #7879F1;
  color: #FFF;
  font-weight: bold;
  border-radius: 0rem 0.4rem 0.4rem 0rem;
  cursor: pointer; /* ativa a mãozinha do mouse */
  transition: background .3s; /* suaviza a transição do elemente no caso background */
}


button:hover {
  background-color: #6363ce;
}


.hide {
  display: none;
}

main {
  border-radius: 0.6rem;
  background: #FFF;
  box-shadow: 0px 0.2rem 0.4rem 0px rgba(0, 0, 0, 0.10);
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%); /* ao passar dos 42.8 vai ficar em 90% */

  margin-top: -12rem;
  text-align: center;
}

/* section title and sub-title */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

/* screen1 */

h1, p {
  color: #34355B;
}

p {
  opacity: 0.8;
}


/* section button */
form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input, button {
  border: none;
  padding: 1.6rem;
}

input {
  background-color: #DCE2E9;
  width: 6rem;
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  
}

/* screen2 */
h2 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #34355B;
  margin-bottom: 3.3rem;
}

.screen2 button {
  border-radius: 0.4rem;
}